# Project place file
/utils.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

aftman.toml
package-lock.json
package.json
default.project.json
sourcemap.json
/node_modules
/server
/client
/build
/.VSCodeCounter
.toml
/default.project.json